body{
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
div{
  padding: 0;
  margin: 0;
}
.facebook-logo{
  height: 98px;
}
.top-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-bottom: 10px;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  
}
.create-account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 6px;
  border-bottom: rgb(220, 220, 220) 1px solid;
}
.create-text{
  font-weight: bold;
  font-size: 25px;
}
.fast-text{
 color: grey;
 line-height: 30px;
}
.data{
  padding: 20px;
}
.name, .surname{
  display: inline-block;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: rgb(220, 220, 220) 1px solid;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.name{
  margin-right: 7px;
}
.email-number, .password{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 11px;
  border: rgb(220, 220, 220) 1px solid;
  border-radius: 5px;
  font-size: 15px;
  width: 390px;
  outline: none;
}
.date-of-birth-text{
  font-size: 12px;
  color: grey;
  margin-top: 10px;
  padding-left: 2px;
}
.select-date-of-birth{
  display: flex;
}
.select-day, .select-month, .select-year {
  display: flex;
  width: 129px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 11px;
  border: rgb(220, 220, 220) 1px solid;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.select-day{
  margin-right: 10px;
}
.select-year{
  margin-left: 10px;
}
.gender-selection{
  display: flex;
}
.select-female, .select-male, .select-other{
  display: flex;
  justify-content: space-between;
  width: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 11px;
  border: rgb(220, 220, 220) 1px solid;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  font-family: Arial;
}
.select-female{
  margin-right: 10px;
}
.select-other{
  margin-left: 10px;
}
.information{
  font-size: 12px;
  color: grey;
  width: 400px;
  margin-top: 10px;
}
.registration-button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 27px;
}
.registration-button{
 background-color: #099509;
 color: white;
 font-weight: bold;
 font-size: 17px;
 padding-left: 66px;
 padding-right: 66px;
 padding-top: 9px;
 padding-bottom: 9px;
 margin-bottom: 20px;
 border: none;
 border-radius: 7px;
 cursor: pointer;
 transition: 0.15s;
}
.registration-button:hover{
 background-color: #099309;
 color: rgb(215, 214, 214);
}
.account{
  color: rgb(39, 99, 211);
  cursor: pointer;
  font-size: 17px;
}

.bottom-section1{
  margin-top: 70px;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(220, 220, 220);
  font-family: Arial;
  font-size: 12px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 43px;
  padding-bottom: 13px;
  }
.bottom-section2{
  margin-top: 0px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 127px;
}