.subscribe-button {
  background-color: rgb(212, 12, 12);
  color: white;
  border:none;
  border-radius: 2.5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  cursor: pointer;
  transition: 0.15s;
  margin-top: 8px;
  margin-right: 5px;
}
.subscribe-button:hover{
  opacity: 0.7;
}
.subscribe-button:active{
  opacity: 0.5;
}
.join-button{
background-color: white;
color:rgb(10, 10, 238);
border-color:rgb(10, 10, 238);
border-width: 1px;
border-radius: 2px;
padding-left: 15px;
padding-right: 15px;
padding-top: 9px;
padding-bottom: 9px;
margin-top: 8px;
vertical-align: top;
transition: 0.15s;
}
.join-button:hover{
  background-color:rgb(10, 10, 238);
  color: white;
}
.join-button:active{
  opacity: 0.5;
}
.tweet-button{
  background-color: rgb(61, 152, 250);
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  cursor: pointer;
  transition: 0.15s;
  margin-top: 8px;
  margin-left: 5px;
}
.tweet-button:hover{
  opacity: 0.8;
}
.tweet-button:active{
  opacity: 0.6;
}